{% extends "layout.html" %}

{% block title %}
    Face Setup
{% endblock %}

{% block main %}


<div class="col-8 m-auto p-1 rounded text-center" id="message-box">
  {%if message == 1%}
    <div class="alert alert-success" role="alert">
      <p class="text-dark font-weight-bold">Image is not clear</p>
    </div>
    <script>
      setTimeout(()=>{
        const msgBox = document.getElementById('message-box');
        msgBox.style.display = 'none';
      }, 3000);
    </script>
  {% endif %}
</div>

<div style="width:220;height:240;">
  <div class="text-center" id="loading">
    Please Wait! The Camera is Starting up...
  </div>
  <div class="text-center bg-warning w-50 rounded text-dark p-2" id="face-already-setup">
    {% if imagemsg %}
    <p class="text-dark font-weight-bold">{{ imagemsg }}</p>
    <a href='/dashboard' class="btn btn-primary">Go to Dashboard</a>
    {% else %}
    <script>
      loading.style.display="none";
    </script>
    <p class="text-dark font-weight-bold">Face Recognition not setuped!</p>
    <button class="btn btn-primary" onclick="setupface()">Setup Now</button>
    {% endif %}
  </div>

  <canvas style="position: absolute; left: 0%;z-index: -1; top:0%;height: 480px;width: 640px;" id="canvas"></canvas>

  <button id="stop" onclick="stop()" style="display:none">Stop</button>

  <video id="player" style="position: sticky;height: 640;width: 480;z-index: -1;" autoplay></video>
  <br>

  <button id="capture" style="align-content: center;position: absolute;border-radius: 100px; left: 47%; top:50%; display: none;" class="btn btn-primary" onclick="capture()">Capture</button>

  <form action="/facesetup" method="post"  enctype="multipart/form-data" >
    <input type="text" id="pic" name="pic" style="display: none;">
    <button id="scan" style="align-content: center;position: absolute;border-radius: 100px;display: none; left: 52%; top:50%;" class="btn btn-primary">Save</button>
  </form>
</div>

<script>
  const player = document.getElementById('player');
  const canvas = document.getElementById('canvas');
  const context = canvas.getContext('2d');
  const captureButton = document.getElementById('capture');
  const scan = document.getElementById('scan');
  const img = document.getElementById('pic');
  const facesettupped = document.getElementById('face-already-setup');
  const loading = document.getElementById('loading');

  const vgaconstraints = {
  video: {width: {exact: 720}, height: {exact: 480}},
  };

  function capture(){
    canvas.style.position="relative";
    canvas.style.left="0%";
    canvas.style.top="0%";
    canvas.style.width = "720px";
    canvas.style.height = "480px"
  
    context.drawImage(player, 0, 0, canvas.width, canvas.height);
    player.style.display="none";
    captureButton.style.display="none";
    scan.style.display="block";
    stop();

    cap = canvas.toDataURL('image/png').split(",")[1];
    img.value=cap;
  }

function stop(){
  player.srcObject.getVideoTracks().forEach(track => track.stop());
}
function setupface(){
  facesettupped.style.display="none";
  loading.style.display="block";
  
  navigator.mediaDevices.getUserMedia(vgaconstraints)
    .then((stream) => {
      loading.style.display="none";
      // Attach the video stream to the video element and autoplay.
      player.srcObject = stream;
      setTimeout(() => {
        captureButton.style.display="block";
      }, 1000);
    });
}
</script>
</html>
{% endblock %}