<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/index.css" />
    <title>Face Recognition : Device Security</title>
  </head>
  <body>
    <div class="container w-75 text-center app-container">
      <h1 class="m-2">Welcome to the Face Recognition System</h1>
      {% if user_session %}
      <a id="gotoDashboardBtn" class="btn btn-outline-primary rounded me-2" href="/dashboard" type="button" role="button">Go to dashboard</a>
      <a id="logoutBtn" class="btn btn-outline-danger rounded me-2" href="/logout" type="button" role="button">Logout</a>
      {% else %}
      <a id="loginBtn" class="btn btn-outline-primary rounded me-2" href="/signin" type="button" role="button">Login</a>
      <a id="regBtn" class="btn btn-outline-success rounded me-2" href="/signup" type="button" role="button">Register</a>
      {% endif %}
    </div>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>